<!-- main page to show the publicly available resources -->

<body>
  <%- include('partials/_header') %>
  <main class="main-container">
    <% if (user) { %>
    <form action="/resources" method="POST" id="new_resource_form">
      <label for="new_resource">share your resource</label>

      <textarea form="new_resource_form" name="url" type="url" id="new_resource_url"
        placeholder="http://www.example.com" required></textarea>
      <textarea form="new_resource_form" name="title" id="new_resource_title" placeholder="title" required></textarea>
      <textarea form="new_resource_form" name="description" id="new_resource_description" placeholder="description"
        required></textarea>
      <textarea form='new_resource_form' name="topic" id="new_resource_topic" placeholder="Resource topic (javascript, etc.)"></textarea>

      <label for="resource_category">category: </label>
      <select form="new_resource_form" name='category' id='resource_category' required>
        <option value="1">Article</option>
        <option value="2">Video</option>
        <option value="3">Tutorial</option>
      </select><br>
      <button type="submit">Submit</button>
    </form>
    <% } %>


  <section id="main-wall">

      <div id="category-icons">


        <div id="filter-by">filter by</div>
        <div class="category">articles</div>
        <div class="category">videos</div>
        <div class="category">tutorials</div>
    </div>

    <div id="content-background">

        <div id="content-container">
          <% for(const resource of resourceList) { %>
          <article class="content">
            <header>
              <h2><a href="/resources/<%= resource.id %>""><%= resource.title %></a></h2>
              <embed src=<%= resource.url %> type="video/webm">
                  <p><%= resource.description %></p>
            </header>
          </article>
          <% } %>
        </div>

      </div>
    </section>

  </main>

</body>
