<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <main id="single-resource-page" style="margin-bottom:20px;text-align:center;list-style-type: none">

    <section class="resource-and-reviews">

      <div id="resource-section">

<<<<<<< HEAD
        <div class="resource-title">
          <h1><%= aResource.title %></h1>
        </div>
        <div class="resource-url"><%= aResource.url %></div>
=======
        <div class="resource-title"><h1><%= aResource.title %></h1></div>
        <div class="resource-url"><a href=<%= aResource.url %>><%= aResource.url %></a></div>
>>>>>>> 559ed248853444b56fe5e5593a8bd24fca62eb40
        <div class="resource-description"><%= aResource.description %></div>
        <div class="resource-embedded"><img src=<%= aResource.image_url %>></div>
        <div class="resource-footer">topic</div>



      </div>

      <div id="review-section">

<<<<<<< HEAD
        <div id="review-header">
          <h3>leave your review</h3>
        </div>
=======
        <div id="review-header"><h3></h3></div>
>>>>>>> 410e902dc1c409548c184084e36e5553b5897ac2

        <form method="POST" , action="/resources/<%= id %>/reviews" id="review-contents">
          <textarea class="review-component" id="reivew-comment" placeholder="leave your review"></textarea>
          <button class="review-component" id="like-resource" type="submit">LIKE</button>
          <select name="myselect" id="myselect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <!-- <div class="review-component" id="review-rating">rating: __ out of 5 ~</div> -->
          <button class="review-component" id="submit-review" type="submit">submit review</button>
        </form>

        <!-- <form action="/resources/<%= id %>/reviews" method="POST">

        </form> -->

      </div>

      <div id="past-reviews-container">
        <!--created and rendered by client-side js in app.js-->
      </div>

      <script>
<<<<<<< HEAD
        /*
                    const loadReviews = function() {

                    $.ajax({
                      url: '/api/resources/<%= id %>/reviews',
                      method: 'GET',
                      dataType: 'JSON',
                      //data: {id: req.params.id}
                    })
                    .then(result => {
                      console.log('inside loadReviews. then')
                      $("#past-reviews-container").empty();
                      renderReviews(result)})
                      .catch(err => console.log(err.message))
                    }
        */
        //$(document).ready(loadReviews);
        $(document).ready(() => loadReviews(<%= id %>));
=======
/*
            const loadReviews = function() {

            $.ajax({
              url: '/api/resources/<%= id %>/reviews',
              method: 'GET',
              dataType: 'JSON',
              //data: {id: req.params.id}
            })
            .then(result => {
              console.log('inside loadReviews. then')
              $("#past-reviews-container").empty();
              renderReviews(result)})
              .catch(err => console.log(err.message))
            }
*/
            //$(document).ready(loadReviews);
            $(document).ready(() => loadReviews('<%= id %>'));
>>>>>>> 559ed248853444b56fe5e5593a8bd24fca62eb40
      </script>


    </section>
  </main>
</body>
