<body>
  <header>
    <%- include('partials/_header') %>
    <link href='https://css.gg/heart.css' rel='stylesheet'>
  </header>

  <main id="single-resource-page" style="margin-bottom:20px;text-align:center;list-style-type: none">

    <section class="resource-and-reviews">

      <div id="resource-section">

        <div class="resource-title">
          <h1><%= aResource.title %></h1>
        </div>
        <div class="resource-url"><a href=<%= aResource.url %>><%= aResource.url %></a></div>
        <div class="resource-description"><%= aResource.description %></div>
        <div class="resource-embedded"><a href=<%= aResource.url %>><img src=<%= aResource.image_url %>></a></div>
        <div class="resource-footer">#<%= aResource.tag %>, <%= aResource.name %></div>



      </div>
      <% if (user) { %>
      <div id="review-section">

        <div id="review-header">
          <h3></h3>
        </div>

        <form method="POST" , action="/resources/<%= id %>/reviews" id="review-contents">
          <textarea name="comment" class="review-component" id="reivew-comment"
            placeholder="leave your review"></textarea>

          <select name="rating" id="myselect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

          <input type="text" name="rating-value" value="false" id="like-field"/>
          <button type="button" value="false" id="like"><span>Like</span></button>

          <button class="review-component" id="submit-review" type="submit" vaue><span></span>submit</span></button>
        </form>
        <% } %>

        <!-- <form action="/resources/<%= id %>/reviews" method="POST">

        </form> -->

      </div>

      <div id="past-reviews-container">
        <!--created and rendered by client-side js in app.js-->
      </div>

      <script>
        /*
                    const loadReviews = function() {

                    $.ajax({
                      url: '/api/resources/<%= id %>/reviews',
                      method: 'GET',
                      dataType: 'JSON',
                      //data: {id: req.params.id}
                    })
                    .then(result => {
                      console.log('inside loadReviews. then')
                      $("#past-reviews-container").empty();
                      renderReviews(result)})
                      .catch(err => console.log(err.message))
                    }
        */
        //$(document).ready(loadReviews);
        $(document).ready(() => loadReviews('<%= id %>'));
      </script>


    </section>
  </main>
</body>
