<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <main id="my-resources-page" style="margin-bottom:20px;text-align:center;list-style-type: none">

    <div id="my-resources-page-content">

      <div id="my-resources-header"><h1 style="margin-bottom:50px;">My Resources</h1></div>

      <div id="my-resources-container">

        <section id="all-my-resources">
          <div><h3>collection</h3></div>
          <% for(const resource of resourceList) { %>
          <div class="my-single-resource">
            <div class='resource-title'><a href="/resources/<%= resource.id %>""><%= resource.title %></a></div>
            <!-- <div class='resource-url'><%= resource.url %></div> -->
            <div class='resource-description'><%= resource.description %></div>

          </a>

          <% } %>
        </section>

        <section id="my-liked-resources">
          <div><h3>liked by me</h3></div>
          <!-- this part should be get reviews ORDERED BY #of likes in DESC order-->
          <!--using the same templateVars as above as placeholder-->

          <% for(const resource of resourceList) { %>
            <div class="single-liked-resource">
              <div class='resource-title'><a href="/resources/<%= resource.id %>""><%= resource.title %></a></div>
              <!-- <div class='resource-url'><%= resource.url %></div> -->
              <div class='resource-description'><%= resource.description %></div>
            </a>
          <% } %>

        </section>

    </div>
  </div>
</div>
</main>
</main>

</body>
