<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <main id="my-resources-page" style="margin-bottom:20px;text-align:center;list-style-type: none">

    <div id="my-resources-page-content">

      <div id="my-resources-header"><h1 style="margin-bottom:50px;">My Resources</h1></div>

      <div id="my-resources-container">

        <section id="all-my-resources">

          <div><h3>collection</h3></div>

          <div id="all-my-resources-container">
              <% for(const resource of resourceList) { %>
              <a href="/resources/<%= resource.id %>" class="my-single-resource">
                <div class='resource-title'><%= resource.title %></div>
                <div class='resource-description'><%= resource.description %></div>

              </a>

              <% } %>
          </div>

        </section>

        <section id="my-liked-resources">

            <div><h3>liked by me</h3></div>

            <div id="my-liked-resources-container">

              <!-- this part should be return resources that have been liked by the user-->
              <!--currently using the same templateVars as above as placeholder, but needs to be populated with separate query results-->

              <% for(const resource of resourceList) { %>
              <a href="/resources/<%= resource.id %>" class="single-liked-resource">
                <div class='resource-title'><%= resource.title %></div>
                <div class='resource-description'><%= resource.description %></div>
              </a>
              <% } %>

            </div>
        </section>

    </div>
  </div>
</div>
</main>
</main>

</body>
